@import url('reset.css');

.body {
    background: #fdf7f7;
}

.container {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

div a {
    margin: 0 auto;
    border: 3px solid peachpuff;
    background: peachpuff;
    padding: 10px;
    display: inline-block;
}

.heading {
    font-size: 30px;
    border: 3px solid black;
    margin: 50px auto 20px;
    background: #ffdddd;
    color: hotpink;
    padding: 20px 10px;
}

p {
    margin: 10px auto 10px;
    color: rgba(255, 105, 180, 0.85);
    font-size: 25px;
}

hr {
    height: 3px;
    border-width: 0;
    background: black;
    margin: 20px auto;
}

.container > div {
    margin: 0 auto;
    color: rgba(255, 105, 180, 0.85);
    background: #ffdddd;
}

div h2 {
    font-size: 25px;
    margin: 20px auto 0;
    color: hotpink;
    padding: 20px 0;
}

div + div {
    margin: 50px auto;
    background: #ffdddd;
}

div img {
    width: 300px;
    height: 300px;
    margin: 10px 10px;
}

table, td, th {
    border-collapse: separate;
    border: 2px solid black;
    border-spacing: 1px;
    width: 100px;
    height: 100px;
}

table {
    width: 600px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
}

caption {
    font-size: 25px;
    margin: 10px auto 15px;
}

.bgPink {
    background: #be216f;
}

.bgGreen {
    background: chartreuse;
}

.bgTurquoise {
    background: #08e3da;
}

.bgBlue {
    background: #33b2e3;
}

.bgGray {
    background: #808080;
}

.bgDeepGreen {
    background: #318025;
}
