@import url('reset.css');

.body {
    background-color: #fdf7f7;
}

.container {
    text-align: center;
    width: 1200px;
    margin: auto auto;
}

.heading {
    font-size: 30px;
    border: 3px solid black;
    margin: 50px auto 20px;
    background-color: #ffdddd;
    color: hotpink;
    padding: 20px 10px;
}

p {
    margin: 10px auto 10px;
    color: rgba(255, 105, 180, 0.85);
    font-size: 25px;
}

hr {
    height: 3px;
    border-width: 0;
    background-color: black;
    margin: 20px auto;
}

.container > div {
    margin: 0 auto;
    color: rgba(255, 105, 180, 0.85);
    background-color: #ffdddd;
}

div h2 {
    font-size: 25px;
    margin: 20px auto 0;
    color: hotpink;
    padding: 20px 0;
}

div + div {
    margin: 50px auto;
    background-color: #ffdddd;
}

div img {
    width: 300px;
    height: 300px;
    margin: 10px 10px;
}
